@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    outline: none;
    color: #000;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 5px auto;
    font-size: 16px;
    border-radius: 3px;
    width: 100%;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #000;
}

h1 {
    color: #fff;
    margin-bottom: 25px;
    font-weight: 400;
}

.calendar-day button:hover {
    animation: shake 0.2s;
    animation-iteration-count: infinite;
    background: #e3dd19;
    color: #000;
}

.calendar-day button.active {
    background: #e3dd19;
    color: #000;
}

.background-wrapper {
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    background: linear-gradient(62deg, rgb(14 13 14) 0%, rgb(44 44 40 / 76%) 100%);
}

.calendar-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calendar-top-wrapper {
    display: flex;
}

.calendar-day {
    min-width: 225px;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 30px 15px 15px;
}

.calendarError {
    width: 30%;
    margin: 20px 0 0;
    border-radius: 3px;
}

h5.calendar-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.calendar-bottom-wrapper {
    margin-top: 25px;
    width: 100%;
    display: flex;
    max-width: 90%;
    justify-content: space-around;
}

input {
    margin-top: 25px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 20px;
    color: #000;
    font-size: 18px;
    transition: all 0.5s ease;
    text-align: center;
}

input.error {
    border: 1px solid #eb3b5a;
}

input:hover, input:focus {
    background: #e3dd19;
    color: #000;
}

input.interval {
    display: none;
}

input::placeholder, input:hover::placeholder {
    color: #000;
    opacity: 1;
}

p.error {
    color: #fff;
    background: #eb3b5a;
    text-align: center;
    border-radius: 0 0 3px 3px;
    padding: 5px 0;
    width: 700px;
}

p.error.hidden {
    display: none;
}

#submit {
    width: 50%;
    margin: 25px auto 0;
    display: block;
    background: #fff;
    border: 1px solid #fff;
    padding: 20px 0;
    transition: all 0.5s ease;
    font-size: 18px;
}

#submit:hover {
    background: #e3dd19;
    border: 1px solid #e3dd19;
    color: #000;
}

.alreadySelectedErr {
    background: #eb3b5a;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    color: #fff;
}

.successMessage {
    background: #20bf6b;
    color: #fff;
    padding: 20px;
    margin-bottom: 0;
    border-radius: 3px;
    min-width: 270px;
    text-align: center;
    margin: 5px 0px;
}

.homeBtn {
    padding: 10px 30px;
    border-radius: 3px;
    color: #000;
    background: rgba(255, 255, 255, 0.8);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    25% { transform: translate(-3px, 0px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    75% { transform: translate(3px, 1px) rotate(-1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

h5.mostVoted {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 2px;
}

.accordion {
    position: relative;
    padding: 10px 40px 10px 20px;
    background: #fff;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8);
}

.accordion.active {
    margin-bottom: 0px;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    background: #e3dd19;
    border-bottom: 1px solid #000;
}

.accordion:hover {
    background: #e3dd19;
    color: #000;
}

.accordion::before {
    content: '+';
    position: absolute;
    right: 20px;
}

.accordion.active::before {
    content: '-';
    position: absolute;
    right: 20px;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border: 1px solid #000;
    border-top: none;
    border-bottom: none;
    border-radius: 0 0 3px 3px;
    background-color: rgba(255, 255, 255, 0.8);
}

.panel:last-child {
    border-bottom: none;
}

.calendar-bottom-right-wrapper {
    width: 100%;
    max-width: 700px;
}

.entryWrapper {
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-bottom: 5px;
}

.deleteEntry {
    background: #e3dd19;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 0.1;
    margin:0;
}

.entryWrapper:first-child {
    padding-top: 5px;
}